################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/net8.0
/WebApplication1/WebApplication1/obj
/WebApplication1/.vs/ProjectEvaluation
/.vs

**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

*.user
.vs/
bin/
obj/